<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924514126757-gr531rplgkrcsco0kn999lktb0k502v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924514126757-gr531rplgkrcsco0kn999lktb0k502v3</string>
	<key>API_KEY</key>
	<string>AIzaSyAZs4IqL2R9t9_3QULwq4cGV2JMloR06dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>924514126757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diploma.Emochat</string>
	<key>PROJECT_ID</key>
	<string>emochat-os</string>
	<key>STORAGE_BUCKET</key>
	<string>emochat-os.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924514126757:ios:d504b8fa3e5a0d9f</string>
	<key>DATABASE_URL</key>
	<string>https://emochat-os.firebaseio.com</string>
</dict>
</plist>